// События в клубе.
// Остатки стилей в _selling-honey.scss
.events-tabele-block {
    display: flex;
    justify-content: center;
    margin: 0px 5px 0px 5px;

    .table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-size: 2rem;
        .events-title {
            font-size: 20px;
        }
        .events-item {
            font-size: 20px;
            .events-date {
                text-align: left;
                color: green;
            }
            .events-name {
                font-size: 22px;
                font-weight: 500;
                font-style: italic;
                text-align: left;
                color: #080507;
            }
            .events-text {
                text-align: left;
            }
        }
        tr {
    
          th,
          td {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px 20px;
          }

          td {
            position: relative;
            text-align: center;
          }
    
          .name-table {
            font-style: italic;
          }
    
          .email-table {
            color: blue;
          }
        }
      }
}

@media (max-width: 1050px) {
    .events-tabele-block {
        display: none;
    }
    .contents__carts-block {
        display: block !important;
    }
}