.footer {
    background-color: aquamarine;
    .wrapper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50px;
        font-size: 20px;
    }
}