// Когда < 900px
.header {
    &__one-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
        .icon-block {
            .icon-block__icon-a {
                display: inline-block;
                padding: 10px;
                .icon-block__icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .header-icon {
                        max-width: 64px;
                        filter: drop-shadow(-4px -3px 4px rgb(134, 121, 36));
                    }
                    .icon-block__line {
                        width: 2px;
                        height: 60px;
                        margin: 2px 5px;
                        background-color: rgb(123, 122, 122);
                    }
                    .icon-block__title {
                        h1 {
                            font-size: 25px;
                            text-transform: uppercase;
                            font-style: italic;
                            font-weight: 500;
                            color: #77802e;
                        }
                        h2 {
                            font-size: 25px;
                            text-transform: uppercase;
                            font-style: italic;
                            font-weight: 600;
                            color: #b7ab08;
                        }
                    }
                }
            }
        }
        .menu-btn {
            display: none;
        }
        .menu-block {
            .menu {
                display: flex;
                &__item {
                    list-style-type: none;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 0 23px;
                    a {
                        color: #77802e;
                        transition-duration: 0.3s;
                    }
                    a:hover {
                        color: rgb(86, 88, 29);
                    }
                }
            }
        }
    }
}