// История клуба.
.history {

    &__title {
        padding: 30px 10px;
        h2 {
            font-size: clamp(40px, 4vw, 45px);
            font-style: italic;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            word-spacing: 10px;
            color: #101010;
        }
    }

    &__text-block {
        display: flex;
        flex-wrap: wrap;

        .img-block {
            flex: 1 1 400px;
            padding: clamp(5px, 1vw, 20px);
            img {
                width: 100%;
            }
        }
        .text {
            flex: 1 1 60%;
            font-size: 20px;
            line-height: 25px;
            text-align: start;
            padding: 20px 15px 30px 15px;

            p {
                margin-bottom: 20px;
            }
        }
    }
    .gugleMap-block {
        display: flex;
        justify-content: center;
        margin: 10px 20px;
        iframe {
            flex: 1 1 500px;
            min-height: 300px;
        }
    }
}
