/* Слайдер: */

.main {
    display: flex;
    flex-wrap: wrap;

    &__nav-menu {
        flex: 1 0 20%;
        min-width: 300px;

        .menu {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            font-style: italic;
            background-color: #f8f5f2;
            padding: 10px;

            ul {
                padding: 25px 5px;

                li {
                    a {
                        color: #77802e;
                        .icon-menu {
                            width: 20px;
                        }
                    }
                }

                li:not(:last-child) {
                    padding-bottom: 20px;
                }
            }
        }
    }

    &__content-block {
        flex: 1 1 70%;
        .slider {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 300px;
            margin: auto;
            // min-width: 600px;

            .item-block {
                position: relative;
                width: 100%;
                max-height: 300px;
                // Анимация исчезновения img.
                animation-name: fade;
                animation-duration: 15s;
                animation-timing-function: linear;

                img {
                    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
                    object-fit: cover;
                    width: 100%;
                    max-height: 300px;
                }
            }

            .previous,
            .next {
                /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
                cursor: pointer;
                /* Положение элемента задаётся относительно границ браузера: */
                position: absolute;
                top: 50%;
                // width: auto;
                // margin-top: -22px;
                padding: 16px;
                /* Оформление самих кнопок: */
                color: white;
                font-weight: bold;
                font-size: 20px;
                /* Плавное появление фона при наведении курсора: */
                transition: 0.6s ease;
                /* Скругление границ: */
                border-radius: 0 3px 3px 0;
            }

            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .previous:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .contents {
            width: 100%;
            min-height: 100vh;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            padding: 20px 10px;
            background-color: #87dea3;
            
            .article-block {
                margin-top: 30px;
                background-color: rgb(126, 126, 123);
                .category-date-block {
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 5px 20px;
                    background-color: #f8f5f2;
                    .category-block {
                        .category {
                        }
                        .category-name {
                        }
                    }
                    .data-block {
                        
                    }
                }
                .content-block {
                    display: flex;
                    img {
                        width: 200px;
                    }
                    .text-block {
                        flex: 1 1 80%;
                        .title {
                            font-size: 25px;
                            color: #dac84f;
                            padding: 5px 10px 10px 20px;
                        }
                        .text {
                            font-size: 15px;
                            line-height: 20px;
                            text-align: start;
                            padding-left: 20px;
                        }
                    }
                }
                .button-block {
                    padding: 10px 15px 15px 25px;
                    .button {
                        font-size: 20px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}

@keyframes fade {

    /* Устанавливаем и изменяем степень прозрачности: */
    0% {
        opacity: 0.2
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@media (max-width: 1000px) { 
    .main-one__nav-menu .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            padding: 0 10px;
        }
    }
 }