.main {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__nav-menu {
        flex: 1 0 20%;
        min-width: 300px;
        margin: 2px 2px 2px 0;
        display: flex;

        .menu {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            font-style: italic;
            background-color: #d7d0c9;
            padding: 5px 5px 5px 10px;

            ul {
                li {
                    padding: 5px 5px 5px 10px;
                    a {
                        display: flex;
                        width: 100%;
                        color: #3b3c34;
                        .icon-menu {
                            width: 20px;
                        }
                        h3 {
                            margin-left: 10px;
                        }
                    }
                }

                li:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            ul li:hover {
                border-radius: 5px;
                background-color: #8f8e8c;
                a {
                    h3 {
                        color: #ebede0;
                        margin-left: 20px;
                        transition: all .3s ease; 
                    }
                }
            }
        }

        .button-block {
            background-color: #898683;
            .button-nav-menu {
                width: 28px;
                font-size: 25px;
                color: red;
                margin-top: 160px;
            }
        }
    }

    &__content-block {
        flex: 1 1 70%;
        
        .slider {
            position: relative;
            top: 0;
            left: 0;
            height: 330px;
            margin: 2px 0px 2px 0;
            
            .item-block {
                position: relative;
                width: 100%;
                height: 100%;
                // Анимация исчезновения img.
                animation-name: fade;
                animation-duration: 15s;
                animation-timing-function: linear;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .previous,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                padding: 16px;
                color: #1af306;
                font-weight: bold;
                font-size: 25px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
            }

            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .previous:hover,
            .next:hover {
                color: rgb(224, 9, 9);
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
        .bg-start-block {
            display: flex;
            height: 330px;
            margin: 2px 0px;
            .item-block {
                width: 100%;
                height: 100%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
            
        .contents .article-block {
                border-radius: 10px;
                overflow: hidden;
                margin: 30px clamp(5px, 1vw, 20px) 10px clamp(5px, 1vw, 20px);
                background-color: rgb(165, 165, 159);

                .category-date-block {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 5px clamp(10px, 2vw, 20px);
                    background-color: #f8f5f2;
                    .category-block {
                        margin-right: 20px;
                        .category {
                            color: #45ac49;
                        }
                    }
                    .data-block {
                        .title {
                            color: #45ac49;
                        }
                    }
                }
                .content-block {
                    display: flex;
                    flex-wrap: wrap;
                    .img-block {
                        flex: 1 1 40%;
                        img {
                            max-width: 300px;
                            min-width: 200px;
                            margin: clamp(2px, 1vw, 10px);
                        }
                    }
                    .text-block {
                        flex: 1 1 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .title {
                            font-size: 35px;
                            color: #4f4e44;
                            padding: 10px 10px 10px 20px;
                        }
                        .text {
                            font-size: 23px;
                            line-height: 35px;
                            text-align: start;
                            padding-left: 20px;
                        }
                    }
                }
        }
    }
}

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    0% {
        opacity: 0.2
    }
    25% {
        opacity: 1
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
