.main__nav-menu .button-block {
    display: none;
}

@media (max-width: 1010px) { 
    .main__content-block .slider {
        margin-left: 29px;
    }
    .main__nav-menu {
        height: 330px;
        transform: translateX(-91%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        transition: transform 1s ease;
        .menu {
            align-items: center;
        }
        .button-block {
            display: block;
        }
    }
}

.active-nav-menu {
    transform: translateX(0px);
}