.reservation-title {
    font-size: clamp(25px, 4vw, 35px);
    padding: 10px 5px;
}

.checkbox {
    width: 20px;
	height: 20px;
}

.date-taken, .start-time {
    color: green;
    .textinput-start {
        font-size: 25px;
        color: green;
        background-color: rgb(225, 220, 220);
    }
}

.start-time {
    color: green;
}

.date-return {
    color: red;
}

.finish-time {
    color: red;
}

.reservation-form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-form-reservation {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 15px;
    margin-top: clamp(20px, 4vh, 50px);
    background-color: rgb(218, 218, 218, .7);

    .text-form-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        color: rgb(7, 7, 7);
        padding: 0px 10px 20px 10px;
    }
    .form-instructions {
        font-size: 25px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px;
    }
    .green {
        color: green;
    }
    .red {
        color: red;
    }
}