@import '_nullstyle',
'_burger_menu',
'_header',
'_main-one',
'_nav-menu_active',
'_history',
'_form-class',
'_absolut-icon',
'_selling-honey',
'_photo-gallery',
'_popup_menu',
'_minutesOFmeetings',
'_reservation',
'_article',
'_events-content',
'_registration',
'_contacts',
'_pagination',
'_footer';

// Изменяет скрол.
html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background: rgb(249, 246, 246);
    border: 1px solid transparent;
    background-clip: content-box;
}

html::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 134);
    border: 1px solid rgb(0, 0, 0);
}

// ----------------------------------------------------
body {
    font-family: Raleway;
    min-height: 100vh;
    min-width: 100%;
}

// плавный скрол по ссылке(по странице)
// нужно добавить в <html>
.smooth-scroll {
    scroll-behavior: smooth;
}

.section,
.footer {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper-container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

// Основные стили контента.
.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    margin-bottom: 2px;
    background: url(../img/bg/honeycomb-1920.webp);
    background-color: rgba(218, 218, 97, 0.549);
    background-blend-mode: screen;


    // общий стиль заголовка
    &__title {
        text-align: center;
        margin: 20px 5px 50px 5px;

        h1 {
            font-size: clamp(25px, 8vw, 45px);
            font-style: italic;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            word-spacing: 10px;
            color: #313106;
            hyphens: auto;
        }
    }
}