@import '_nullstyle',
        '_burger_menu',
        '_header',
        '_main-one',
        '_main-two',
        '_main-three',
        '_main-four',
        '_main-five',
        '_main-six',
        '_main-seven',
        '_main-eight',
        '_footer';

body {
    font-family: Raleway;
    min-height: 100vh;
    // background-image: url("../img/Bürmoos_drohne.jpg");
}

.section, 
.footer {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper-container {
    max-width: var(--wrapper-width, 1440px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
// .services{
//     max-width: 800px;
// }