@import '_nullstyle',
        '_burger_menu',
        '_header',
        '_main-one',
        '_nav-menu_active',
        '_footer';


html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-track {
    background: rgb(249, 246, 246);
    border: 1px solid transparent;
    background-clip: content-box;
}
html::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 134);
    border: 1px solid rgb(0,0,0);
}

body {
    font-family: Raleway;
    min-height: 100vh;
}

.section, 
.footer {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper-container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}