@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 900px) {
  body.active {
    overflow: hidden;
  }
  .header__one-block .menu-block {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 70px;
    z-index: 200;
    background: linear-gradient(to bottom right, rgba(28, 234, 107, 0.8), rgb(93, 255, 102) 110%);
    transition: all 1s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .header__one-block .menu-block .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
  .header__one-block .menu-block .menu li {
    font-weight: 700;
    padding: 25px 15px;
    transition: all 0.3s ease 0s;
  }
  .header__one-block .menu-block.active {
    top: 0;
  }
  .header__one-block .menu-block.active .menu li {
    font-size: 35px;
    padding: 25px 15px;
  }
  .header__one-block .menu-btn {
    display: block !important;
  }
  .menu-btn {
    position: fixed;
    top: 5px;
    right: 5vh;
    width: 50px;
    height: 50px;
    background-color: #5a8b87;
    border-radius: 50%;
    z-index: 210;
    margin: 10px 0px 0px 0px;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*Позицыонирование линий*/
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    /*Верхняя линия чуть выше*/
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    /*Нижняя линия чуть ниже*/
    top: calc(50% + 5px);
  }
  /* При добавлении class .active c помощю js */
  .menu-btn.active {
    background-color: #85aaf0;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}
.header {
  background-color: aquamarine;
}
.header__one-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__one-block .icon-block .icon-block__icon-a {
  display: inline-block;
  padding: 10px;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .header-icon {
  max-width: 64px;
  filter: drop-shadow(-4px -3px 4px rgb(134, 121, 36));
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__line {
  width: 2px;
  height: 60px;
  margin: 2px 5px;
  background-color: rgb(123, 122, 122);
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  color: #77802e;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: #b7ab08;
}
.header__one-block .menu-btn {
  display: none;
}
.header__one-block .menu-block .menu {
  display: flex;
}
.header__one-block .menu-block .menu__item {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0 23px;
}
.header__one-block .menu-block .menu__item a {
  color: #54371c;
  transition-duration: 0.3s;
}
.header__one-block .menu-block .menu__item a:hover {
  color: rgb(86, 88, 29);
}

.main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.main__nav-menu {
  flex: 1 0 20%;
  min-width: 300px;
  margin: 2px 2px 2px 0;
  display: flex;
}
.main__nav-menu .menu {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  background-color: #d7d0c9;
  padding: 5px 5px 5px 10px;
}
.main__nav-menu .menu ul .menu-link {
  padding: 10px 5px 10px 10px;
}
.main__nav-menu .menu ul .menu-link a {
  display: flex;
  width: 100%;
  color: #3b3c34;
}
.main__nav-menu .menu ul .menu-link a .icon-menu {
  width: 20px;
}
.main__nav-menu .menu ul .menu-link a h3 {
  margin-left: 10px;
}
.main__nav-menu .menu ul li:hover {
  border-radius: 5px;
  background-color: #8f8e8c;
}
.main__nav-menu .menu ul li:hover a h3 {
  color: #ebede0;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.main__nav-menu .button-block {
  background-color: #898683;
}
.main__nav-menu .button-block .button-nav-menu {
  width: 28px;
  font-size: 25px;
  color: red;
  margin-top: 160px;
}
.main__content-block {
  flex: 1 1 70%;
}
.main__content-block .slider {
  position: relative;
  top: 0;
  left: 0;
  height: 330px;
  margin: 2px 0px 2px 0;
}
.main__content-block .slider .item-block {
  position: relative;
  width: 100%;
  height: 100%;
  animation-name: fade;
  animation-duration: 15s;
  animation-timing-function: linear;
}
.main__content-block .slider .item-block img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main__content-block .slider .previous,
.main__content-block .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: #1af306;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.main__content-block .slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.main__content-block .slider .previous:hover,
.main__content-block .slider .next:hover {
  color: rgb(224, 9, 9);
  background-color: rgba(0, 0, 0, 0.2);
}
.main__content-block .bg-start-block {
  display: flex;
  height: 330px;
  margin: 2px 0px;
}
.main__content-block .bg-start-block .item-block {
  width: 100%;
  height: 100%;
}
.main__content-block .bg-start-block .item-block img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main__content-block .block-article-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 10px 40px;
}
.main__content-block .block-article-form .categories .category-select {
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgb(87, 87, 87);
  padding: 5px 10px;
  background-color: #f1f2f1;
  cursor: pointer;
}
.main__content-block .block-article-form .categories .category-select:hover {
  box-shadow: 2px 2px 10px black;
}
.main__content-block .block-article-form .categories .category-button {
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgb(87, 87, 87);
  background-color: #c2c2c1;
  padding: 5px 10px;
}
.main__content-block .block-article-form .categories .category-button:hover {
  border: 2px solid rgb(45, 43, 43);
  box-shadow: 2px 2px 10px rgb(57, 55, 55);
  background-color: #fbfbfb;
}
.main__content-block .block-article-form .form-search {
  border: 2px solid rgb(87, 87, 87);
  border-radius: 5px;
  background-color: #ebede0;
}
.main__content-block .block-article-form .form-search .input-search-img {
  width: 35px;
  height: 35px;
}
.main__content-block .block-article-form .form-search .input-search {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.main__content-block .block-article-form .form-search:hover {
  box-shadow: 2px 2px 10px black;
}
.main__content-block .contents .article-block {
  border-radius: 10px;
  overflow: hidden;
  margin: 30px clamp(5px, 1vw, 20px) 10px clamp(5px, 1vw, 20px);
  background-color: rgb(165, 165, 159);
}
.main__content-block .contents .article-block .category-date-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 5px clamp(10px, 2vw, 20px);
  background-color: #f8f5f2;
}
.main__content-block .contents .article-block .category-date-block .category-block {
  margin-right: 20px;
}
.main__content-block .contents .article-block .category-date-block .category-block .category {
  color: #45ac49;
}
.main__content-block .contents .article-block .category-date-block .data-block .title {
  color: #45ac49;
}
.main__content-block .contents .article-block .content-block-article {
  display: flex;
  flex-wrap: wrap;
}
.main__content-block .contents .article-block .content-block-article .img-block-article {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
}
.main__content-block .contents .article-block .content-block-article .img-block-article img {
  max-width: 400px;
  object-fit: contain;
  margin: clamp(2px, 1vw, 10px);
}
.main__content-block .contents .article-block .content-block-article .text-block-article {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__content-block .contents .article-block .content-block-article .text-block-article .title-article {
  font-size: 35px;
  color: #4f4e44;
  padding: 10px 10px 10px 20px;
}
.main__content-block .contents .article-block .content-block-article .text-block-article .text-article {
  font-size: 23px;
  line-height: 35px;
  text-align: start;
  padding-left: 20px;
  padding-right: 10px;
}
.main__content-block .contents .article-block .content-block-article .text-block-article .button-block-all {
  width: 100%;
  padding: 20px;
}
.main__content-block .contents .article-block .content-block-article .text-block-article .button-block-all .button-a {
  display: inline-block;
  color: #373827;
  font-style: italic;
  text-shadow: 2px 2px 5px rgb(115, 113, 113);
  border-radius: 20px;
  padding: 20px 10px;
  background-color: bisque;
  transition: all 0.3s ease;
}
.main__content-block .contents .article-block .content-block-article .text-block-article .button-block-all .button-a:hover {
  color: aqua;
  text-shadow: 2px 2px 5px rgb(160, 156, 156);
  background-color: rgb(120, 113, 104);
}

@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@media screen and (max-width: 708px) {
  .form-search {
    margin: 30px 0px 0px 0px;
  }
}
@media screen and (max-width: 450px) {
  .content-block-article .img-block-article img {
    max-width: 300px !important;
  }
}
@media screen and (max-width: 350px) {
  .content-block-article .img-block-article img {
    max-width: 200px !important;
  }
}
.main__nav-menu .button-block {
  display: none;
}

@media (max-width: 1200px) {
  .main__content-block .slider {
    margin-left: 29px;
  }
  .main__nav-menu {
    min-width: 350px;
    height: 330px;
    transform: translateX(-92%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 1s ease;
  }
  .main__nav-menu .menu {
    align-items: center;
  }
  .main__nav-menu .button-block {
    display: block;
  }
}
.active-nav-menu {
  transform: translateX(0px);
}

.history__title {
  padding: 30px 10px;
}
.history__title h2 {
  font-size: clamp(40px, 4vw, 45px);
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #101010;
}
.history__text-block {
  display: flex;
  flex-wrap: wrap;
}
.history__text-block .img-block-history {
  flex: 1 1 400px;
  padding: clamp(5px, 1vw, 20px);
}
.history__text-block .img-block-history img {
  width: 100%;
}
.history__text-block .text-history {
  flex: 1 1 60%;
  font-size: 20px;
  line-height: 25px;
  text-align: start;
  padding: 20px 15px 30px 15px;
}
.history__text-block .text-history p {
  margin-bottom: 20px;
}
.history .gugleMap-block {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.history .gugleMap-block iframe {
  flex: 1 1 500px;
  min-height: 300px;
}

.non-form-error,
.form-error {
  font-size: 20px;
  color: red;
  padding: 10px;
}

.input-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: clamp(20px, 4vh, 50px) 10px clamp(20px, 4vh, 50px) 10px;
}
.input-block .form {
  flex: 1 1 600px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(238, 244, 244);
  border: 1px solid black;
  padding: 10px;
}
.input-block .form .row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 5px;
}
.input-block .form .row .col-25 {
  flex: 0 1 100px;
  display: flex;
  align-items: center;
}
.input-block .form .row .col-25 label {
  font-size: 18px;
  font-weight: 500;
}
.input-block .form .row .comment-block {
  align-items: flex-start;
}
.input-block .form .row .col-75 {
  flex: 1 1 200px;
}
.input-block .form .row .col-75 input {
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  min-width: 100%;
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(110, 108, 108);
  background-color: rgb(237, 237, 243);
}
.input-block .form .row .col-75 textarea {
  font-size: 16px;
  font-weight: 500;
  min-height: 100px;
  width: 100%;
  border-radius: 5px;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid rgb(110, 108, 108);
}
.input-block .form .row-button {
  display: flex;
  justify-content: center;
}
.input-block .form .row-button input {
  background-color: cadetblue;
  border-radius: 10px;
  padding: 15px 20px;
}

.icon-sell-honey {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  border-radius: 50%;
  border: 1px solid rgb(113, 110, 110);
  box-shadow: 2px 2px 5px black;
  background-color: blanchedalmond;
  padding: 10px;
  animation: honey 4s 1s linear infinite;
}
.icon-sell-honey .img-sell-honey {
  width: 60px;
}

.form-icon-sell {
  overflow: hidden;
}

@keyframes honey {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(1.1, 1.1);
  }
  10% {
    transform: scale(1, 1);
  }
}
thead {
  background-color: #b3afaf;
}

tbody {
  font-size: clamp(18px, 4vw, 22px);
  font-weight: 400;
  background-color: rgb(225, 220, 220);
}

.table-block {
  display: flex;
  justify-content: center;
  margin: 0px 5px 0px 5px;
}
.table-block .table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 25px;
}
.table-block .table tr th,
.table-block .table tr td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}
.table-block .table tr img {
  width: 25px;
}
.table-block .table tr td {
  position: relative;
  text-align: center;
}
.table-block .table tr .name-table {
  font-style: italic;
}
.table-block .table tr .email-table {
  color: blue;
}

@media screen and (max-width: 1050px) {
  .table {
    border-radius: 20px;
    overflow: hidden;
  }
  thead {
    display: none;
  }
  .table td {
    display: block;
    padding-left: 40%;
    border: none;
  }
  .table td:nth-child(odd) {
    background-color: #ccc;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    font-weight: bold;
    left: 2%;
  }
  .table tr {
    border-bottom: 20px solid #e66363;
  }
}
@media screen and (max-width: 700px) {
  .table td:before {
    position: static;
    display: block;
    background-color: #ccc;
    font-weight: bold;
    padding: 10px;
  }
  .table td {
    padding: 10px;
    text-align: center;
  }
  .table td:nth-child(odd) {
    background-color: #fff;
  }
}
.gallery-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}
.gallery-wrapper .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}
.gallery-wrapper .gallery .box {
  flex: 1 1 200px;
  border: 2px solid gray;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
  max-height: 250px;
  margin: 5px;
  transition: transform 2s ease;
  background-color: #d6cccc;
}
.gallery-wrapper .gallery .box img {
  width: 100%;
  object-fit: contain;
}
.gallery-wrapper .gallery .box img:hover {
  transform: rotate(2deg) scale(1.1, 1.1);
}
.gallery-wrapper .gallery .box .photo-date {
  font-size: 14px;
  color: green;
  padding: 2px;
}
.gallery-wrapper .gallery .box .photo-text {
  font-size: 14px;
}
.gallery-wrapper .gallery .box::-webkit-scrollbar {
  width: 2px;
}
.gallery-wrapper .gallery .box::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00c6fb, #005bea);
}
.gallery-wrapper .gallery .box-active {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-wrapper .gallery .box-active img {
  width: 98%;
  max-width: 800px;
  cursor: pointer;
}
.gallery-wrapper .gallery .box-active .photo-date, .gallery-wrapper .gallery .box-active .photo-text {
  display: none;
}

/* Multi-menu */
.nav-menu .menu__list .sub-menu {
  display: flex;
  position: relative;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 10px 5px;
  cursor: alias;
  /* Второй слой */
  /* Логика */
}
.nav-menu .menu__list .sub-menu .block-button {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-menu .menu__list .sub-menu .block-button .icon-menu {
  width: 20px;
}
.nav-menu .menu__list .sub-menu .block-button .menu__link {
  user-select: none;
  color: #3b3c34;
  margin-left: 10px;
}
.nav-menu .menu__list .sub-menu .sub-menu__list {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  font-weight: 500;
  text-align: center;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  background-color: #b0acac;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-menu__link {
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #181d18;
  line-height: 33px;
  padding: 0px 10px 0px 10px;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-menu__link:hover {
  color: #ebede0;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-sub-menu {
  display: flex;
  position: relative;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 10px 5px;
  cursor: alias;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-sub-menu .sub-sub-menu__list {
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  text-align: center;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  background-color: #b0acac;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-sub-menu .sub-sub-menu__list .sub-sub-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #a8a4a4;
  text-decoration: none;
  color: #181d18;
  line-height: 30px;
  border-radius: 5px;
  padding: 5px 10px;
}
.nav-menu .menu__list .sub-menu .sub-menu__list .sub-sub-menu .sub-sub-menu__list .sub-sub-menu__link:hover {
  color: #ffffff;
  background-color: #535151;
}
.nav-menu .menu__list .sub-menu .hide-content {
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transform: translateY(50%);
  transition: all 0.5s ease-in 0s;
}
.nav-menu .menu__list .sub-menu .show-content {
  max-height: 500px;
  font-size: 18px;
  transform: translateY(0%);
  transition: all 0.5s ease-in 0s;
}
.nav-menu .menu__list .sub-menu:hover .menu__link {
  color: #ebede0;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.contents__protocol-block {
  padding: 10px;
}

.item {
  max-width: 800px;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000;
  overflow: hidden;
  background-color: #b6b9bc;
  /* добовляет глубину в блок */
  perspective: 1000px;
}
.item .header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.item .header-item .title {
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}
.item .header-item .title:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.item .content {
  display: flex;
  max-width: 100%;
}
.item .content .protocol-text {
  flex: 1 1 60%;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  width: 100%;
  white-space: pre-wrap;
  hyphens: auto;
  overflow: auto;
}
.item .hide-content {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 0.4s linear, opacity 0.5s;
  -moz-transition: max-height 0.4s linear, opacity 0.5s;
  transition: max-height 0.4s linear, opacity 0.5s;
}

.show-content {
  /* тут можно выставить высату сколько надо для адаптива */
  max-height: 1000px;
  opacity: 1;
  -webkit-transition: max-height 0.4s linear, opacity 0.5s;
  -moz-transition: max-height 0.4s linear, opacity 0.5s;
  transition: max-height 0.4s linear, opacity 0.5s;
}

.reservation-title {
  font-size: clamp(25px, 4vw, 35px);
  padding: 10px 5px;
}

.date-taken,
.start-time {
  color: red;
}
.date-taken .textinput-start,
.start-time .textinput-start {
  font-size: 25px;
  color: red;
  background-color: rgb(225, 220, 220);
}

.start-time {
  color: red;
}

.date-return {
  color: green;
}

.finish-time {
  color: green;
}

.reservation-form-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-form-reservation {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 15px;
  margin-top: clamp(20px, 4vh, 50px);
  background-color: rgba(218, 218, 218, 0.7);
}
.text-form-reservation .text-form-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: rgb(7, 7, 7);
  padding: 0px 10px 20px 10px;
}
.text-form-reservation .form-instructions {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  padding: 10px;
}
.text-form-reservation .green {
  color: green;
}
.text-form-reservation .red {
  color: red;
}

.article-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(208, 218, 217, 0.5);
}
.article-wrapper .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 0px 10px 30px 10px;
}
.article-wrapper .article__title {
  text-align: start;
}
.article-wrapper .article__title .article-title {
  font-size: clamp(25px, 8vw, 35px);
  padding: clamp(20px, 8vw, 30px) 0px clamp(30px, 8vw, 50px) 0px;
}
.article-wrapper .article__lead-block {
  display: flex;
  flex-direction: column;
}
.article-wrapper .article__content-block {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 6px 5px 4px rgb(153, 149, 149), -7px -6px 4px rgb(161, 161, 94);
  background-color: rgba(239, 245, 244, 0.5);
  padding: 20px 10px 20px clamp(10px, 5vw, 30px);
  margin: 20px 0px 30px;
}
.article-wrapper .article__content-block .content-title {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  text-align: start;
  margin-bottom: 20px;
}
.article-wrapper .article__content-block .content {
  display: flex;
  flex-direction: column;
}
.article-wrapper .article__content-block .content .content-li {
  font-size: 20px;
  text-align: start;
  line-height: 1.7;
  overflow-wrap: break-word;
  cursor: default;
  margin-left: 20px;
}
.article-wrapper .article__content-block .content .content-li a {
  color: #111;
  transition: color 0.2s ease;
}
.article-wrapper .article__content-block .content .content-li:hover a {
  color: #f0a816;
}
.article-wrapper .article__paragraph-block {
  max-width: 700px;
}
.article-wrapper .article__paragraph-block .paragraph-title-block {
  text-align: start;
}
.article-wrapper .article__paragraph-block .paragraph-title-block .paragraph-title {
  font-size: clamp(25px, 8vw, 35px);
  padding: clamp(20px, 8vw, 25px) 0px clamp(10px, 8vw, 15px) 0px;
}
.article-wrapper .article__paragraph-block .paragraph-list-block {
  text-align: start;
  font-size: 20px;
  line-height: 30px;
}
.article-wrapper .article__paragraph-block .paragraph-list-block li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: clamp(20px, 8vw, 50px);
  margin-bottom: 10px;
}

.title-ul-block {
  margin: 20px 0px 10px;
}

.text-block {
  display: flex;
  justify-content: start;
}
.text-block .paragraph-text {
  font-size: clamp(18px, 8vw, 20px);
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  max-width: 700px;
  hyphens: auto;
  overflow: auto;
}
.text-block .title-ul {
  font-weight: 600;
}

.img-block {
  display: flex;
  max-width: 700px;
  margin: 30px 0px 20px;
}
.img-block img {
  width: 100%;
  object-fit: contain;
}

.events-tabele-block {
  display: flex;
  justify-content: center;
  margin: 0px 5px 0px 5px;
}
.events-tabele-block .table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 2rem;
}
.events-tabele-block .table .events-title {
  font-size: 20px;
}
.events-tabele-block .table .events-item {
  font-size: 20px;
}
.events-tabele-block .table .events-item .events-date {
  text-align: left;
  color: green;
}
.events-tabele-block .table .events-item .events-name {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  color: #ff2424;
}
.events-tabele-block .table .events-item .events-text {
  text-align: left;
}
.events-tabele-block .table tr th,
.events-tabele-block .table tr td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}
.events-tabele-block .table tr td {
  position: relative;
  text-align: center;
}
.events-tabele-block .table tr .name-table {
  font-style: italic;
}
.events-tabele-block .table tr .email-table {
  color: blue;
}

.contents__carts-block .cart-events {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: rgb(201, 199, 196);
  margin: 20px 15px 30px 15px;
}
.contents__carts-block .cart-events .img-block-events {
  flex: 1 1 22%;
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}
.contents__carts-block .cart-events .img-block-events .img-wraper {
  display: inline;
  position: relative;
  top: 0;
  left: 0;
}
.contents__carts-block .cart-events .img-block-events .img-wraper img {
  width: 160px;
}
.contents__carts-block .cart-events .img-block-events .img-wraper .dateMonth,
.contents__carts-block .cart-events .img-block-events .img-wraper .year {
  position: absolute;
  color: rgb(6, 161, 16);
}
.contents__carts-block .cart-events .img-block-events .img-wraper .dateMonth {
  top: 45px;
  left: 0px;
  font-size: 22px;
  width: 100%;
}
.contents__carts-block .cart-events .img-block-events .img-wraper .year {
  top: 95px;
  left: 0px;
  font-size: 30px;
  width: 100%;
}
.contents__carts-block .cart-events .text-block-events {
  flex: 1 1 70%;
}
.contents__carts-block .cart-events .text-block-events .title {
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #ff2424;
  padding: 20px 15px 30px 15px;
}
.contents__carts-block .cart-events .text-block-events .text {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  text-align: start;
  max-width: 600px;
  padding: 0px 20px 30px 20px;
  margin: auto;
}

@media (min-width: 1050px) {
  .contents__carts-block {
    display: none;
  }
}
@media (max-width: 1050px) {
  .events-tabele-block {
    display: none;
  }
  .contents__carts-block {
    display: block !important;
  }
}
/* -----  google Font  -----*/
/* -----  Выравнивание по середине  -----*/
.dws-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 20px 10px;
}

.dws-form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.dws-form input {
  text-decoration: none;
  transition: 0.5s;
  color: #298cad;
}

.dws-form input:hover {
  color: #05617a;
}

.dws-form input {
  display: block;
  width: 100%;
}

.tab-form {
  background-color: #f9f9f9;
  display: none;
  padding: 30px 20px 20px;
}

.tab-form.active,
#tab-1:checked ~ #form-1,
#tab-2:checked ~ #form-2 {
  display: block;
}

label.tab {
  color: #ffffff;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  cursor: pointer;
}

input[name=tabs]:checked + label {
  background-color: #fff;
  color: #1d5f75;
}

input[name=tabs] {
  display: none;
}

/* Иконки во вкладках */
.tab::before {
  content: "\f090";
  font-family: "FontAwesome", sans-serif;
  font-size: 24px;
  margin-right: 11px;
  font-weight: normal;
}

.tab[for*="2"]::before {
  content: "\f234";
}

/* Формы */
.input {
  font-size: 16px;
  border: 2px solid #e9eaea;
  padding: 12px 14px;
  box-sizing: border-box;
  margin-bottom: 22px;
  color: #1e8da6;
  outline: none;
}

::-webkit-input-placeholder {
  color: #c4c9c9;
}

/* webkit */
::-moz-placeholder {
  color: #298cad;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #298cad;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #298cad;
}

/* IE */
/* Плавающий текст */
.box-input {
  position: relative;
}

.box-input input {
  border: none;
  border-bottom: 2px solid #21c9c9;
  padding: 10px 0;
}

.box-input label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  padding-top: 10px;
  color: #494b4b;
  transition: 0.5s;
  pointer-events: none;
}

.box-input input:focus ~ label,
.box-input input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #33d3fe;
}

.tab-form button {
  display: block;
  width: 100%;
}

/* Эффект кнопки */
.button {
  background: #298cad;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 46px;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button:hover {
  color: #ffffff;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #27bfdc;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
  z-index: -1;
}

.button::after {
  background: #36d2ff;
  top: 100%;
  left: 0;
  transition-delay: 0.2s;
}

/* заливка с лева на право */
.button:hover::before {
  left: 0;
}

/* заливка с низу вверх */
.button:hover::after {
  top: 0;
}

.contacts-block .contacts-content {
  margin: 0 auto;
  max-width: 700px;
  min-height: 500px;
  background-color: rgba(241, 243, 243, 0.7);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.contacts-block .contacts-content .address-block {
  margin: clamp(20px, 7vw, 50px) 15px clamp(20px, 7vw, 70px);
}
.contacts-block .contacts-content .address-block .name-company {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: clamp(20px, 7vw, 40px);
}
.contacts-block .contacts-content .address-block .name-company .logo-contact {
  width: 40px;
  height: 40px;
}
.contacts-block .contacts-content .address-block .name-company span {
  font-size: 35px;
  font-weight: 500;
  color: #c08022;
}
.contacts-block .contacts-content .address-block .address,
.contacts-block .contacts-content .address-block .name-city {
  font-size: 25px;
  font-weight: 500;
  color: #190a0a;
  margin-bottom: 15px;
}
.contacts-block .contacts-content .address-block .mail {
  font-size: 20px;
  font-weight: 500;
  color: #2c4db3;
  margin: 25px 0px 15px;
}
.contacts-block .contacts-content .address-block .phone {
  font-size: 20px;
  font-weight: 500;
}

.list-pages .pages-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
}
.list-pages .pages-ul .arrow-li {
  font-size: 60px;
}
.list-pages .pages-ul .arrow-li a {
  display: block;
  color: black;
  margin: 10px 15px;
  transition: 0.2s all;
}
.list-pages .pages-ul .arrow-li a:hover {
  color: rgb(243, 247, 245);
  transform: scale(1.2);
  text-shadow: 2px 2px 2px #706e6e;
}
.list-pages .pages-ul .arrow-li a:active {
  color: rgb(251, 0, 0);
}
.list-pages .pages-ul .pages-li-active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px #dfdfdf;
  margin: 15px;
  user-select: none;
}
.list-pages .pages-ul .pages-li a {
  display: block;
  color: black;
  border-radius: 10px;
  background-color: beige;
  padding: 10px;
  margin: 15px;
  transition: 0.3s all;
}
.list-pages .pages-ul .pages-li a:hover {
  color: rgb(243, 247, 245);
  transform: scale(1.2);
  box-shadow: 2px 2px 5px rgb(247, 243, 243);
  background-color: rgb(87, 84, 84);
}
.list-pages .pages-ul .pages-li a:active {
  background-color: rgb(220, 2, 2);
}

.footer {
  background-color: aquamarine;
}
.footer .wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  font-size: 20px;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: rgb(249, 246, 246);
  border: 1px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 134);
  border: 1px solid rgb(0, 0, 0);
}

body {
  font-family: Raleway;
  min-height: 100vh;
  min-width: 100%;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.section,
.footer {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wrapper-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.contents {
  width: 100%;
  min-height: 100vh;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 2px;
  margin-bottom: 2px;
  background: url(../img/bg/honeycomb-1920.webp);
  background-color: rgba(218, 218, 97, 0.549);
  background-blend-mode: screen;
}
.contents__title {
  text-align: center;
  margin: 20px 5px 50px 5px;
}
.contents__title h1 {
  font-size: clamp(25px, 8vw, 45px);
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #313106;
  hyphens: auto;
}