@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 900px) {
  body.active {
    overflow: hidden;
  }
  .header__one-block .menu-block {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 70px;
    z-index: 10;
    background: linear-gradient(to bottom right, rgba(28, 234, 190, 0.8), rgba(47, 150, 209, 0.8) 110%);
    transition: all 1s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .header__one-block .menu-block .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
  .header__one-block .menu-block .menu li {
    font-weight: 700;
    padding: 25px 15px;
    transition: all 0.3s ease 0s;
  }
  .header__one-block .menu-block.active {
    top: 0;
  }
  .header__one-block .menu-block.active .menu li {
    font-size: 35px;
    padding: 25px 15px;
  }
  .header__one-block .menu-btn {
    display: block !important;
  }
  .menu-btn {
    position: fixed;
    top: 5px;
    right: 5vh;
    width: 50px;
    height: 50px;
    background-color: #5a8b87;
    border-radius: 50%;
    z-index: 20;
    margin: 10px 0px 0px 0px;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*Позицыонирование линий*/
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    /*Верхняя линия чуть выше*/
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    /*Нижняя линия чуть ниже*/
    top: calc(50% + 5px);
  }
  /* При добавлении class .active c помощю js */
  .menu-btn.active {
    background-color: #85aaf0;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}
.header__one-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.header__one-block .icon-block .icon-block__icon-a {
  display: inline-block;
  padding: 10px;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon img {
  filter: drop-shadow(-4px -3px 4px rgb(134, 121, 36));
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__line {
  width: 2px;
  height: 60px;
  margin: 2px 5px;
  background-color: rgb(123, 122, 122);
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  color: #77802e;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: #b7ab08;
}
.header__one-block .menu-btn {
  display: none;
}
.header__one-block .menu-block .menu {
  display: flex;
}
.header__one-block .menu-block .menu__item {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0 23px;
}
.header__one-block .menu-block .menu__item a {
  color: #77802e;
  transition-duration: 0.3s;
}
.header__one-block .menu-block .menu__item a:hover {
  color: rgb(86, 88, 29);
}

/* Слайдер: */
.main-one {
  display: flex;
}
.main-one__nav-menu {
  flex: 1 1 20%;
}
.main-one__nav-menu .menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  background-color: #f8f5f2;
  padding: 10px;
}
.main-one__nav-menu .menu ul {
  padding: 25px 5px;
}
.main-one__nav-menu .menu ul li a {
  color: #77802e;
}
.main-one__nav-menu .menu ul li:not(:last-child) {
  padding-bottom: 20px;
}
.main-one__content-block {
  flex: 1 1 80%;
}
.main-one__content-block .slider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  margin: auto;
}
.main-one__content-block .slider .item-block {
  position: relative;
  width: 100%;
  max-height: 300px;
  animation-name: fade;
  animation-duration: 15s;
  animation-timing-function: linear;
}
.main-one__content-block .slider .item-block img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}
.main-one__content-block .slider .previous,
.main-one__content-block .slider .next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 50%;
  padding: 16px;
  /* Оформление самих кнопок: */
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* Плавное появление фона при наведении курсора: */
  transition: 0.6s ease;
  /* Скругление границ: */
  border-radius: 0 3px 3px 0;
}
.main-one__content-block .slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.main-one__content-block .slider .previous:hover,
.main-one__content-block .slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-one__content-block .content {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: burlywood;
}

@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.main-two {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: burlywood;
}

.footer .wrapper-container {
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
}

body {
  font-family: Raleway;
  min-height: 100vh;
}

.section,
.footer {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wrapper-container {
  max-width: var(--wrapper-width, 1440px);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}