@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 900px) {
  body.active {
    overflow: hidden;
  }
  .header__one-block .menu-block {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 70px;
    z-index: 100;
    background: linear-gradient(to bottom right, rgba(28, 234, 190, 0.8), rgba(47, 150, 209, 0.8) 110%);
    transition: all 1s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .header__one-block .menu-block .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
  .header__one-block .menu-block .menu li {
    font-weight: 700;
    padding: 25px 15px;
    transition: all 0.3s ease 0s;
  }
  .header__one-block .menu-block.active {
    top: 0;
  }
  .header__one-block .menu-block.active .menu li {
    font-size: 35px;
    padding: 25px 15px;
  }
  .header__one-block .menu-btn {
    display: block !important;
  }
  .menu-btn {
    position: fixed;
    top: 5px;
    right: 5vh;
    width: 50px;
    height: 50px;
    background-color: #5a8b87;
    border-radius: 50%;
    z-index: 110;
    margin: 10px 0px 0px 0px;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*Позицыонирование линий*/
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    /*Верхняя линия чуть выше*/
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    /*Нижняя линия чуть ниже*/
    top: calc(50% + 5px);
  }
  /* При добавлении class .active c помощю js */
  .menu-btn.active {
    background-color: #85aaf0;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}
.header__one-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.header__one-block .icon-block .icon-block__icon-a {
  display: inline-block;
  padding: 10px;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .header-icon {
  max-width: 64px;
  filter: drop-shadow(-4px -3px 4px rgb(134, 121, 36));
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__line {
  width: 2px;
  height: 60px;
  margin: 2px 5px;
  background-color: rgb(123, 122, 122);
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  color: #77802e;
}
.header__one-block .icon-block .icon-block__icon-a .icon-block__icon .icon-block__title h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: #b7ab08;
}
.header__one-block .menu-btn {
  display: none;
}
.header__one-block .menu-block .menu {
  display: flex;
}
.header__one-block .menu-block .menu__item {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0 23px;
}
.header__one-block .menu-block .menu__item a {
  color: #77802e;
  transition-duration: 0.3s;
}
.header__one-block .menu-block .menu__item a:hover {
  color: rgb(86, 88, 29);
}

.main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.main__nav-menu {
  flex: 1 0 20%;
  min-width: 300px;
  margin: 2px 2px 2px 0;
  display: flex;
}
.main__nav-menu .menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  background-color: #d7d0c9;
  padding: 10px;
}
.main__nav-menu .menu ul {
  padding: 25px 5px;
}
.main__nav-menu .menu ul li a {
  color: #3b3c34;
}
.main__nav-menu .menu ul li a .icon-menu {
  width: 20px;
}
.main__nav-menu .menu ul li:not(:last-child) {
  padding-bottom: 20px;
}
.main__nav-menu .button-block {
  background-color: #898683;
}
.main__nav-menu .button-block .button-nav-menu {
  width: 25px;
  font-size: 25px;
  color: red;
  margin-top: 20vh;
}
.main__content-block {
  flex: 1 1 70%;
}
.main__content-block .slider {
  position: relative;
  top: 0;
  left: 0;
  max-height: 300px;
  margin: 2px 0px 2px 0;
}
.main__content-block .slider .item-block {
  position: relative;
  width: 100%;
  max-height: 300px;
  animation-name: fade;
  animation-duration: 15s;
  animation-timing-function: linear;
}
.main__content-block .slider .item-block img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}
.main__content-block .slider .previous,
.main__content-block .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: rgb(214, 209, 209);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.main__content-block .slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.main__content-block .slider .previous:hover,
.main__content-block .slider .next:hover {
  color: rgb(224, 9, 9);
  background-color: rgba(0, 0, 0, 0.2);
}
.main__content-block .contents {
  width: 100%;
  min-height: 100vh;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 2px;
  background: url(../img/bg/honeycomb-1920.webp);
  background-color: rgba(218, 218, 97, 0.549);
  background-blend-mode: screen;
}
.main__content-block .contents .article-block {
  margin-top: 30px;
  background-color: rgb(165, 165, 159);
}
.main__content-block .contents .article-block .category-date-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  background-color: #f8f5f2;
}
.main__content-block .contents .article-block .content-block {
  display: flex;
  flex-wrap: wrap;
}
.main__content-block .contents .article-block .content-block .img-block {
  flex: 1 1 40%;
}
.main__content-block .contents .article-block .content-block .img-block img {
  max-width: 300px;
  margin: 10px;
}
.main__content-block .contents .article-block .content-block .text-block {
  flex: 1 1 60%;
}
.main__content-block .contents .article-block .content-block .text-block .title {
  font-size: 35px;
  color: #4f4e44;
  padding: 5px 10px 10px 20px;
}
.main__content-block .contents .article-block .content-block .text-block .text {
  font-size: 23px;
  line-height: 35px;
  text-align: start;
  padding-left: 20px;
}
.main__content-block .contents .article-block .button-block {
  padding: 10px 15px 15px 25px;
}
.main__content-block .contents .article-block .button-block .button {
  font-size: 20px;
  padding: 10px 20px;
}

@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@media (max-width: 1000px) {
  .main-one__nav-menu .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-one__nav-menu .menu ul li {
    padding: 0 10px;
  }
}
.main__nav-menu .button-block {
  display: none;
}

@media (max-width: 1010px) {
  .main__content-block .slider {
    margin-left: 29px;
  }
  .main__nav-menu {
    transform: translateX(-91%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 2s ease;
  }
  .main__nav-menu .button-block {
    display: block;
    border-bottom-right-radius: 30px;
  }
}
.active-nav-menu {
  transform: translateX(0px);
}

.footer .wrapper-container {
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
}

body {
  font-family: Raleway;
  min-height: 100vh;
}

.section,
.footer {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wrapper-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}